/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set body font and background */
 
  body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }